<div class="import-wrapper">
  <%= form_for :task, url: batch_add_path, html: { autocomplete: "off" }, class: "import-form" do |form| %>
    <% if notice.present? %>
      <p>
        <%= notice %>
      </p>
    <% end %>
    <div>
      <%= form.text_area :tasklist, class: "margin-auto" %>
      <div style="display: inline-flex">

        <%= form.submit "Import", class: "btn btn-primary" %>
        <div class="checkbox" style="margin-top: 4px; margin-left: 1em">
          <%= form.check_box :add_dates %>
          <%= form.label "Add missing creation dates (will be set to today)" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

