<div class="row-fluid">
  <div class="span10">
    <% if params[:q] %>
      <% @tasks = uncompleted(Task.where("description LIKE ?", "%" + params[:q].strip + "%")) %>
      <h2><%= params[:q] %></h2>
    <% else %>
      <% @tasks = uncompleted(Task.all) %>
    <% end %>
    <div class="add-task">
      <%= render "form", task: @task %>
    </div>
    <div data-controller="tasks" class="tasks">
      <table class="table table-striped">
        <%= render uncompleted(@tasks) %>
      </table>
    </div>
  </div>
  <div class="span2">
    <div class="sidebar-section-head"><a href="/inbox">Inbox</a></div>
    <% if contexts(@tasks).any? %>
      <div id="accordion1">
        <div style="margin-bottom: .5em;">
          <div class="sidebar-section-head">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" id="collapseHead1">
              <span id="open1" class="toggle-triangle">▾</span>Contexts</a></div>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="contexts">
            <% contexts(@tasks).each do |context| %>
              <div style="margin-bottom: .25em;"><%= parse_task(context).html_safe %><br></div>
            <% end %>
          </div>
        </div>
        <div style="border-bottom: 1px solid #e5e5e5;"/>
      </div>
    <% end %>
    <% if contexts(@tasks).any? and projects(@tasks).any? %>
      <div class="divider"></div>
    <% end %>
    <% if projects(@tasks).any? %>
      <div id="accordion2">
        <div style="margin-bottom: .5em;">
          <div class="sidebar-section-head">
            <a class="sidebar-section-head" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <span id="open2" class="toggle-triangle">▾</span>Projects</a></div>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="project">
            <% projects(@tasks).each do |context| %>
              <div style="margin-bottom: .25em;"><%= parse_task(context).html_safe %><br></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
